{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/activity": {
          "description": "View the activity history of your Google apps"
        },
        "https://www.googleapis.com/auth/drive": {
          "description": "See, edit, create, and delete all of your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.activity": {
          "description": "View and add to the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.activity.readonly": {
          "description": "View the activity record of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.appdata": {
          "description": "View and manage its own configuration data in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.apps.readonly": {
          "description": "View your Google Drive apps"
        },
        "https://www.googleapis.com/auth/drive.file": {
          "description": "View and manage Google Drive files and folders that you have opened or created with this app"
        },
        "https://www.googleapis.com/auth/drive.metadata": {
          "description": "View and manage metadata of files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.metadata.readonly": {
          "description": "View metadata for files in your Google Drive"
        },
        "https://www.googleapis.com/auth/drive.photos.readonly": {
          "description": "View the photos, videos and albums in your Google Photos"
        },
        "https://www.googleapis.com/auth/drive.readonly": {
          "description": "See and download all your Google Drive files"
        },
        "https://www.googleapis.com/auth/drive.scripts": {
          "description": "Modify your Google Apps Script scripts' behavior"
        },
        "https://www.googleapis.com/auth/gmail.readonly": {
          "description": "View your email messages and settings"
        }
      }
    }
  },
  "basePath": "/drive/v2.1beta/",
  "baseUrl": "https://www.googleapis.com/drive/v2.1beta/",
  "batchPath": "batch/drive/v2.1beta",
  "description": "Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/drive/",
  "etag": "\"-2NioU2H8y8siEzrBOV_qzRI6kQ/Lagqn47DkcdqMIPu3H5Ap0YtEZQ\"",
  "icons": {
    "x16": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png",
    "x32": "https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"
  },
  "id": "drive:v2.1beta",
  "kind": "discovery#restDescription",
  "name": "drive",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "about": {
      "methods": {
        "get": {
          "description": "Gets the information about the current user along with Drive API settings",
          "httpMethod": "GET",
          "id": "drive.about.get",
          "parameters": {
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "includeSubscribed": {
              "default": "true",
              "description": "Deprecated - use changes.getRemainingCount instead.",
              "location": "query",
              "type": "boolean"
            },
            "maxChangeIdCount": {
              "default": "1",
              "description": "Deprecated - use changes.getRemainingCount instead.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "startChangeId": {
              "description": "Deprecated - use changes.getRemainingCount instead.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "userId": {
              "description": "The ID of the requesting user. The request will fail if an ID is specified but differs from the user implied by the authorization.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "about",
          "response": {
            "$ref": "About"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        }
      }
    },
    "admin": {
      "resources": {
        "files": {
          "methods": {
            "migrateToTeamDrive": {
              "description": "Migrates a file into a Team Drive. The file and Team Drive must belong to the same Domain, and the requester must be a migration administrator for that domain. The response contains the ID of the migrated file within the Team Drive. If the file is a folder, this ID will be different than the originating ID.",
              "httpMethod": "POST",
              "id": "drive.admin.files.migrateToTeamDrive",
              "parameterOrder": [
                "fileId"
              ],
              "parameters": {
                "errorRecovery": {
                  "default": "false",
                  "description": "Whether the request is done as a corrective measure after an earlier failed request.",
                  "location": "query",
                  "type": "boolean"
                },
                "featureLabel": {
                  "description": "The label associated with a tracked feature rollout.",
                  "location": "query",
                  "type": "string"
                },
                "fileId": {
                  "description": "The ID of the file or folder being migrated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "msSinceLastAttempt": {
                  "description": "For retries only: how much time has elapsed since the last attempt",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "mutationPrecondition": {
                  "default": "false",
                  "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
                  "location": "query",
                  "type": "boolean"
                },
                "openDrive": {
                  "default": "false",
                  "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
                  "location": "query",
                  "type": "boolean"
                },
                "preFlightValidationToken": {
                  "description": "The validation token from the pre-flight used to authorize this move, if a folder is being moved. It must refer to a pre-flight that was performed on this folder ID and that returned a moveable result.",
                  "location": "query",
                  "type": "string"
                },
                "reason": {
                  "description": "The user action or internal event that triggered the request.",
                  "location": "query",
                  "type": "string"
                },
                "retryCount": {
                  "description": "How many times this request has been retried - the first attempt has retryCount 0",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "syncType": {
                  "default": "0",
                  "description": "Whether the request is blocking a user action or not.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "admin/files/{fileId}/migrateToTeamDrive",
              "request": {
                "$ref": "AdminFile"
              },
              "response": {
                "$ref": "AdminFile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/drive"
              ]
            }
          }
        }
      }
    },
    "approvalevents": {
      "methods": {
        "get": {
          "description": "Gets an ApprovalEvent by ID.",
          "httpMethod": "GET",
          "id": "drive.approvalevents.get",
          "parameterOrder": [
            "fileId",
            "approvalId",
            "eventId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "eventId": {
              "description": "The ID of the ApprovalEvent.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/events/{eventId}",
          "response": {
            "$ref": "ApprovalEvent"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "list": {
          "description": "Lists all ApprovalEvents on an Approval.",
          "httpMethod": "GET",
          "id": "drive.approvalevents.list",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of ApprovalEvents to return per page.",
              "format": "int32",
              "location": "query",
              "maximum": "0",
              "minimum": "0",
              "type": "integer"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The page token for the ApprovalEvents list.",
              "location": "query",
              "type": "string"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/events",
          "response": {
            "$ref": "ApprovalEventList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "approvals": {
      "methods": {
        "approve": {
          "description": "DEPRECATED; use drive.approvals.recordDecision instead.",
          "httpMethod": "POST",
          "id": "drive.approvals.approve",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/approve",
          "request": {
            "$ref": "ApprovalEventRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "cancel": {
          "description": "Cancel an Approval.",
          "httpMethod": "POST",
          "id": "drive.approvals.cancel",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/cancel",
          "request": {
            "$ref": "ApprovalEventRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "changeReviewers": {
          "description": "Change the reviewers on the Approval.",
          "httpMethod": "POST",
          "id": "drive.approvals.changeReviewers",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/changeReviewers",
          "request": {
            "$ref": "ApprovalChangeReviewers"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "comment": {
          "description": "Comment on an Approval.",
          "httpMethod": "POST",
          "id": "drive.approvals.comment",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/comment",
          "request": {
            "$ref": "ApprovalEventRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "decline": {
          "description": "DEPRECATED; use drive.approvals.recordDecision instead.",
          "httpMethod": "POST",
          "id": "drive.approvals.decline",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/decline",
          "request": {
            "$ref": "ApprovalEventRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "get": {
          "description": "Gets an Approval by ID.",
          "httpMethod": "GET",
          "id": "drive.approvals.get",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}",
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "insert": {
          "description": "Inserts a new Approval.",
          "httpMethod": "POST",
          "id": "drive.approvals.insert",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the DriveItem associated with the new Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals",
          "request": {
            "$ref": "Approval"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "list": {
          "description": "Lists all approvals on a Drive item.",
          "httpMethod": "GET",
          "id": "drive.approvals.list",
          "parameterOrder": [
            "fileId"
          ],
          "parameters": {
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file to list Approvals on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "description": "The maximum number of Approvals to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.",
              "format": "int32",
              "location": "query",
              "maximum": "0",
              "minimum": "0",
              "type": "integer"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "The page token for the Approvals list.",
              "location": "query",
              "type": "string"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals",
          "response": {
            "$ref": "ApprovalList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "recordDecision": {
          "description": "Record a decision on an Approval. Only reviewers can make a decision.",
          "httpMethod": "POST",
          "id": "drive.approvals.recordDecision",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/recordDecision",
          "request": {
            "$ref": "ApprovalDecisionRequest"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        },
        "setDueDate": {
          "description": "Update the Approval's due date. If a date is not specified then any existing due date will be removed.",
          "httpMethod": "POST",
          "id": "drive.approvals.setDueDate",
          "parameterOrder": [
            "fileId",
            "approvalId"
          ],
          "parameters": {
            "approvalId": {
              "description": "The ID of the Approval.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileId": {
              "description": "The ID of the file the Approval is on.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "files/{fileId}/approvals/{approvalId}/setDueDate",
          "request": {
            "$ref": "ApprovalDueDate"
          },
          "response": {
            "$ref": "Approval"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive"
          ]
        }
      }
    },
    "apps": {
      "methods": {
        "delete": {
          "description": "Uninstall this app.",
          "httpMethod": "DELETE",
          "id": "drive.apps.delete",
          "parameterOrder": [
            "appId"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app to uninstall. Specify 'self' to uninstall the current app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "deleteAppData": {
              "description": "Whether to delete the App Data folder.",
              "location": "query",
              "type": "boolean"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "apps/{appId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "get": {
          "description": "Gets a specific app.",
          "httpMethod": "GET",
          "id": "drive.apps.get",
          "parameterOrder": [
            "appId"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "apps/{appId}",
          "response": {
            "$ref": "App"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "insert": {
          "description": "Install this app.",
          "httpMethod": "POST",
          "id": "drive.apps.insert",
          "parameters": {
            "appId": {
              "description": "The app to install. If no app is given, the calling app is used.",
              "location": "query",
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "apps",
          "response": {
            "$ref": "App"
          }
        },
        "list": {
          "description": "Lists a user's installed apps.",
          "httpMethod": "GET",
          "id": "drive.apps.list",
          "parameters": {
            "appFilterExtensions": {
              "default": "",
              "description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "type": "string"
            },
            "appFilterMimeTypes": {
              "default": "",
              "description": "A comma-separated list of mimetypes for open with filtering. All apps within the given app query scope which can open any of the given mimetypes will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.",
              "location": "query",
              "type": "string"
            },
            "appQueryScope": {
              "default": "USER_APP_GRANT",
              "description": "The scope of this query.",
              "enum": [
                "ALL_WEBSTORE",
                "AUTHORIZED_OR_INSTALLED",
                "USER_APP_GRANT"
              ],
              "enumDescriptions": [
                "Include all apps known in the webstore.",
                "A deprecated alias for USER_APP_GRANT.",
                "Query apps granted to the user. Use userAppGrantSource to select the sources."
              ],
              "location": "query",
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "includeHidden": {
              "default": "false",
              "description": "Whether to include apps that are normally suppressed in results, like first-party apps.",
              "location": "query",
              "type": "boolean"
            },
            "languageCode": {
              "description": "A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "noCache": {
              "description": "A comma-separated list of the sources for which to disallow caching. Currently, the only acceptable value is SOURCE.",
              "location": "query",
              "type": "string"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "userAppGrantSource": {
              "default": "AUTHORIZED,INSTALLED",
              "description": "A comma-separated list of the sources of user apps to query: AUTHORIZED, INSTALLED, or SOURCE.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "apps",
          "response": {
            "$ref": "AppList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive.apps.readonly"
          ]
        },
        "update": {
          "description": "Update the properties of this app.",
          "httpMethod": "PUT",
          "id": "drive.apps.update",
          "parameterOrder": [
            "appId"
          ],
          "parameters": {
            "appId": {
              "description": "The ID of the app to update.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "apps/{appId}",
          "request": {
            "$ref": "App"
          },
          "response": {
            "$ref": "App"
          }
        }
      }
    },
    "attachments": {
      "methods": {
        "insert": {
          "description": "Inserts a gmail attachment into drive.",
          "httpMethod": "POST",
          "id": "drive.attachments.insert",
          "parameters": {
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "attachments",
          "request": {
            "$ref": "Attachment"
          },
          "response": {
            "$ref": "Attachment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/gmail.readonly"
          ]
        }
      }
    },
    "backups": {
      "methods": {
        "delete": {
          "description": "Deletes a backup.",
          "httpMethod": "DELETE",
          "id": "drive.backups.delete",
          "parameterOrder": [
            "backupId"
          ],
          "parameters": {
            "backupId": {
              "description": "The ID of the backup to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "backups/{backupId}",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata"
          ]
        },
        "get": {
          "description": "Gets a backup's metadata by ID.",
          "httpMethod": "GET",
          "id": "drive.backups.get",
          "parameterOrder": [
            "backupId"
          ],
          "parameters": {
            "backupId": {
              "description": "The ID of the backup.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "backups/{backupId}",
          "response": {
            "$ref": "Backup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata"
          ]
        },
        "list": {
          "description": "Lists backups for a user.",
          "httpMethod": "GET",
          "id": "drive.backups.list",
          "parameters": {
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "backups",
          "response": {
            "$ref": "BackupList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata"
          ]
        },
        "patch": {
          "description": "Updates a backup's metadata.",
          "httpMethod": "PATCH",
          "id": "drive.backups.patch",
          "parameterOrder": [
            "backupId"
          ],
          "parameters": {
            "backupId": {
              "description": "The ID of the backup to update.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "backups/{backupId}",
          "request": {
            "$ref": "Backup"
          },
          "response": {
            "$ref": "Backup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata"
          ]
        },
        "startExtraction": {
          "description": "Starts extracting a backup.",
          "httpMethod": "POST",
          "id": "drive.backups.startExtraction",
          "parameterOrder": [
            "backupId",
            "targetFolderId"
          ],
          "parameters": {
            "authToken": {
              "description": "A signed token that includes the user ID and a timestamp. Used to verify that a web user completed the reauth flow.",
              "location": "query",
              "type": "string"
            },
            "backupId": {
              "description": "The ID of the backup to extract.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "targetFolderId": {
              "description": "The ID of the folder where the files in the backup will be extracted.",
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "path": "backups/{backupId}/startExtraction",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata"
          ]
        },
        "stopExtraction": {
          "description": "Stops extraction of a backup.",
          "httpMethod": "POST",
          "id": "drive.backups.stopExtraction",
          "parameterOrder": [
            "backupId"
          ],
          "parameters": {
            "backupId": {
              "description": "The ID of the backup.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "path": "backups/{backupId}/stopExtraction",
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata"
          ]
        }
      }
    },
    "changes": {
      "methods": {
        "get": {
          "description": "Deprecated - Use changes.getStartPageToken and changes.list to retrieve recent changes.",
          "httpMethod": "GET",
          "id": "drive.changes.get",
          "parameterOrder": [
            "changeId"
          ],
          "parameters": {
            "allProperties": {
              "default": "false",
              "description": "Whether to retrieve all properties, not just those visible to the app.",
              "location": "query",
              "type": "boolean"
            },
            "changeId": {
              "description": "The ID of the change.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "driveId": {
              "description": "The shared drive from which the change will be returned.",
              "location": "query",
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query",
              "type": "string"
            },
            "msSinceLastAttempt": {
              "description": "For retries only: how much time has elapsed since the last attempt",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "mutationPrecondition": {
              "default": "false",
              "description": "Whether the request is done prior to a mutation to verify that data is in an expected/desired/supported state.",
              "location": "query",
              "type": "boolean"
            },
            "openDrive": {
              "default": "false",
              "description": "Whether the request is a part of initializing the app/website data when the user begins a session.",
              "location": "query",
              "type": "boolean"
            },
            "reason": {
              "description": "The user action or internal event that triggered the request.",
              "location": "query",
              "type": "string"
            },
            "retryCount": {
              "description": "How many times this request has been retried - the first attempt has retryCount 0",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated use supportsAllDrives instead.",
              "location": "query",
              "type": "boolean"
            },
            "syncType": {
              "default": "0",
              "description": "Whether the request is blocking a user action or not.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "teamDriveId": {
              "description": "Deprecated use driveId instead.",
              "location": "query",
              "type": "string"
            },
            "useLegacyDomainPermissionBehavior": {
              "default": "true",
              "description": "If true, Permissions with type Audience are represented with Domain type.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "getRemainingCount": {
          "description": "Returns the estimated number of change entries that a client could expect by performing a similar changes.list request.",
          "httpMethod": "GET",
          "id": "drive.changes.getRemainingCount",
          "parameterOrder": [
            "pageToken"
          ],
          "parameters": {
            "driveId": {
              "description": "The shared drive from which changes will be counted. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            },
            "filters": {
              "description": "This field is ignored.",
              "location": "query",
              "type": "string"
            },
            "includeEmbeddedItems": {
              "default": "false",
              "description": "Whether changes to package embedded items should be counted in results.",
              "location": "query",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether shared drive items should be counted in the results.",
              "location": "query",
              "type": "boolean"
            },
            "includeSubscribed": {
              "default": "true",
              "description": "Whether to count changes outside the My Drive hierarchy. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the count.",
              "location": "query",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
              "default": "false",
              "description": "Deprecated use includeItemsFromAllDrives instead.",
              "location": "query",
              "type": "boolean"
            },
            "maxResults": {
              "default": "4000",
              "description": "Maximum number of changes to count per page.",
              "format": "int32",
              "location": "query",
              "maximum": "4000",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "The token for continuing a previous count request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.",
              "location": "query",
              "required": true,
              "type": "string"
            },
            "spaces": {
              "description": "A comma-separated list of spaces to query. Supported values are 'drive', 'appContent', 'appDataFolder', 'photos' and 'androidBackup'.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated use supportsAllDrives instead.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "Deprecated use driveId instead.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "changes/getRemainingCount",
          "response": {
            "$ref": "RemainingCount"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "getStartPageToken": {
          "description": "Gets the starting pageToken for listing future changes.",
          "httpMethod": "GET",
          "id": "drive.changes.getStartPageToken",
          "parameters": {
            "driveId": {
              "description": "The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.",
              "location": "query",
              "type": "string"
            },
            "supportsAllDrives": {
              "default": "false",
              "description": "Whether the requesting application supports both My Drives and shared drives.",
              "location": "query",
              "type": "boolean"
            },
            "supportsTeamDrives": {
              "default": "false",
              "description": "Deprecated use supportsAllDrives instead.",
              "location": "query",
              "type": "boolean"
            },
            "teamDriveId": {
              "description": "Deprecated use driveId instead.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "changes/startPageToken",
          "response": {
            "$ref": "StartPageToken"
          },
          "scopes": [
            "https://www.googleapis.com/auth/drive",
            "https://www.googleapis.com/auth/drive.appdata",
            "https://www.googleapis.com/auth/drive.apps.readonly",
            "https://www.googleapis.com/auth/drive.file",
            "https://www.googleapis.com/auth/drive.metadata",
            "https://www.googleapis.com/auth/drive.metadata.readonly",
            "https://www.googleapis.com/auth/drive.photos.readonly",
            "https://www.googleapis.com/auth/drive.readonly"
          ]
        },
        "list": {
          "description": "Lists the changes for a user or shared drive.",
          "httpMethod": "GET",
          "id": "drive.changes.list",
          "parameters": {
            "allProperties": {
              "default": "false",
              "description": "Whether to retrieve all properties, not just those visible to the app.",
              "location": "query",
              "type": "boolean"
            },
            "appDataFilter": {
              "default": "ALL_FILES",
              "description": "Deprecated: use 'spaces' instead. Specifies whether to return App Data, non-App Data, or both in query results.",
              "enum": [
                "ALL_FILES",
                "NO_APP_DATA",
                "ONLY_APP_DATA"
              ],
              "enumDescriptions": [
                "Specifies that the query should return App Data and non-App Data files.",
                "Specifies that the query should not return App Data files.",
                "Specifies that the query should only return App Data files."
              ],
              "location": "query",
              "type": "string"
            },
            "driveId": {
              "description": "The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.",
              "location": "query",
              "type": "string"
            },
            "errorRecovery": {
              "default": "false",
              "description": "Whether the request is done as a corrective measure after an earlier failed request.",
              "location": "query",
              "type": "boolean"
            },
            "featureLabel": {
              "description": "The label associated with a tracked feature rollout.",
              "location": "query",
              "type": "string"
            },
            "fileScopeAppIds": {
              "description": "A comma separated list of app IDs. If set, the list will also include files inside the app data folder that could be opened with any of the given apps with drive.appdata scope. Requires the ALL_APPDATA scope.",
              "location": "query",
              "type": "string"
            },
            "filters": {
              "description": "This field is ignored.",
              "location": "query",
              "type": "string"
            },
            "includeBadgedLabels": {
              "description": "If true, all badged Labels will be returned in the labelInfo part of the response.",
              "location": "query",
              "type": "boolean"
            },
            "includeCorpusRemovals": {
              "default": "false",
              "description": "Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.",
              "location": "query",
              "type": "boolean"
            },
            "includeDeleted": {
              "default": "true",
              "description": "Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.",
              "location": "query",
              "type": "boolean"
            },
            "includeEmbeddedItems": {
              "default": "false",
              "description": "Whether changes to package embedded items should be included in results.",
              "location": "query",
              "type": "boolean"
            },
            "includeItemsFromAllDrives": {
              "default": "false",
              "description": "Whether both My Drive and shared drive items should be included in results.",
              "location": "query",
              "type": "boolean"
            },
            "includeLabels": {
              "description": "A comma-separated list of IDs of Labels to include in the labelInfo part of the response.",
              "location": "query",
              "type": "string"
            },
            "includeMetadataForCategories": {
              "description": "A comma-separated list of names of Categories to include in the response.",
              "location": "query",
              "type": "string"
            },
            "includePermissionsForView": {
              "description": "Specifies which additional view's permissions to include in the response. Only 'published' is supported.",
              "location": "query",
              "type": "string"
            },
            "includeSubscribed": {
              "default": "true",
              "description": "Whether to include changes outside the My Drive hierarchy in the result. When set to false, changes to files such as those in the Application Data folder or shared files which have not been added to My Drive will be omitted from the result.",
              "location": "query",
              "type": "boolean"
            },
            "includeTeamDriveItems": {
[...]
